@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway';
    font-style: normal;
}

.hero_text_mobile {
    width: 55vw;
    height: 119px;
    margin-bottom: 50px;
    padding-top: 15px;
}

.big_text_mobile {
    font-weight: 700;
    font-size: 28px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
}

.lorem_mobile {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-top: 13px;
}

.line {
    margin-left: 25px;
}

.line_2 {
    margin-top: 36px;
}

.avatar_mobile {
    width: 23vw;
    height: 90px;
}

.hero_text_web {
    width: 53%;
    height: 300px;
    padding-right: 10px;
}

.big_text_web {
    font-weight: 700;
    font-size: 40px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 82px;
}

.big_text_web_2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
}

.lorem_web {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: justify;
}

.avatar_web {
    width: 100%;
}

.avatar_1 {
    width: 9%;
    height: 131px;
    position: absolute;
    top: 35%;
    left: 39%;
}

.avatar_2 {
    width: 9%;
    height: 131px;
    position: absolute;
    top: 52%;
    left: 50.5%;
}

.avatar_3 {
    width: 9%;
    height: 131px;
    position: absolute;
    top: 75%;
    left: 44%;
}


@media screen and (max-width: 320px) {
    .hero_text_mobile {
        height: 150px;
        margin-bottom: 50px;
        padding-top: 15px;
    }

    .lorem_mobile {
        margin-bottom: 20px;
    }

    .line {
        margin-left: 5px;
    }
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {

    .big_text_web {
        font-size: 30px;
    }

    .big_text_web_2 {
        font-size: 30px;
    }

    .avatar_1 {
        top: 40%;
    }
    
    .avatar_2 {
        top: 60%;
    }
    
    .avatar_3 {
        top: 85%;
    }

    .lorem_web {
        font-size: 22px;
    }

}