@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway';
    font-style: normal;
}

.hero_text_mobile {
    width: 223px;
    height: 119px;
    margin-bottom: 50px;
    padding-top: 15px;
}

.big_text_mobile {
    font-weight: 700;
    font-size: 28px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
}

.lorem_mobile {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-top: 13px;
}

.line {
    margin-left: 25px;
}

.avatar {
    margin: 18px 0 0 128px;
}

.hero_text_web {
    width: 460px;
    height: 300px;
}

.big_text_web {
    font-weight: 700;
    font-size: 40px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 50px;
}

.lorem_web {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}
