@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway';
    font-style: normal;
}

.hero_text_mobile {
    width: 55vw;
    height: 119px;
    margin-bottom: 50px;
    padding-top: 15px;
}

.big_text_mobile {
    font-weight: 700;
    font-size: 28px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
}

.lorem_mobile {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-top: 13px;
}

.line {
    margin-left: 25px;
}

.line_2 {
    margin-top: 36px;
}

.avatar_mobile {
    width: 90px;
    height: 90px;
}

.hero_text_web {
    width: 31.5vw;
    height: 300px;
    padding-right: 10px;
}

.big_text_web {
    font-weight: 700;
    font-size: 40px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
    padding-top: 82px;
}

.big_text_web_2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 132.4%;
    letter-spacing: 0.03em;
    color: #000000;
}

.lorem_web {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 50px;
}

.avatar_web {
    width: 152.83px;
    height: 131px;
}

.avatar_1 {
    position: absolute;
    top: 270px;
    left: 580px;
}

.avatar_2 {
    position: absolute;
    top: 415px;
    left: 740px;
}

.avatar_3 {
    position: absolute;
    top: 580px;
    left: 650px;
}


@media screen and (max-width: 320px) {
    .hero_text_mobile {
        width: 55vw;
        height: 150px;
        margin-bottom: 50px;
        padding-top: 15px;
    }

    .lorem_mobile {
        margin-bottom: 20px;
    }

    .line {
        margin-left: 5px;
    }
}