@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Raleway';
    font-style: normal;
}

.cta_ready {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 17px;
}

.cta_book {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 20px;
    margin-top: 25px;
}

.cta_question {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.cta_need {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 10px;
}

.cta_call {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.cta_call_2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.cta_ready_web {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 20px;
}

.cta_book_web {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 72px;
}
